.drum-control-buttons {
	grid-area: controls;
}
:root {
	--display-box-bg-color:rgba(0,0,0,0.4);
}
.display-box {
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 10px;
	color: white;
	font-size: 1.3em;
	font-weight: bolder;
	box-shadow: 0 0 10px silver;
	background: var(--display-box-bg-color);
}
.form-switch {
	width: 150px;
}
.drum-control-form-label {
	width: 100%;
}
@media only screen and (max-width: 600px){
	#display-box {
		margin: 10px 0;
	}
	.drum-control-buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: white;

	}
}